<div  id="search">
  <form class="search text-center">
    <input  type="text" name="search" value="<?php echo $search; ?>" placeholder="Поиск...">
    <button type="button"><img src="catalog/view/theme/default/image/header/search.png"></button>
  </form>
</div>
