             @media only screen {
                 body {
                     background-color: #FFFFFF;
                     -webkit-font-smoothing: antialiased;
                     -webkit-overflow-scrolling: touch;
                 }
                 #modal-quicksignup textarea,
                 #modal-quicksignup input[type="text"],
                 #modal-quicksignup input[type="password"],
                 #modal-quicksignup input[type="datetime"],
                 #modal-quicksignup input[type="datetime-local"],
                 #modal-quicksignup input[type="date"],
                 #modal-quicksignup input[type="month"],
                 #modal-quicksignup input[type="time"],
                 #modal-quicksignup input[type="week"],
                 #modal-quicksignup input[type="number"],
                 #modal-quicksignup input[type="email"],
                 #modal-quicksignup input[type="url"],
                 #modal-quicksignup input[type="search"],
                 #modal-quicksignup input[type="tel"],
                 #modal-quicksignup input[type="color"],
                 #modal-quicksignup .uneditable-input {
                     border: 1px solid #009de0;
                     box-shadow: none;
                     outline: 0 none;
                 }
                 .datepicker .active {
                     background-color: #009de0 !important;
                 }
                 .modal-header .close:active {
                     border: white !important;
                 }
                 textarea:focus,
                 input[type="text"]:focus,
                 input[type="password"]:focus,
                 input[type="datetime"]:focus,
                 input[type="datetime-local"]:focus,
                 input[type="date"]:focus,
                 input[type="month"]:focus,
                 input[type="time"]:focus,
                 input[type="week"]:focus,
                 input[type="number"]:focus,
                 input[type="email"]:focus,
                 input[type="url"]:focus,
                 input[type="search"]:focus,
                 input[type="tel"]:focus,
                 input[type="color"]:focus,
                 .uneditable-input:focus {
                     border: 1px solid #6ca824;
                     box-shadow: none;
                     outline: 0 none;
                 }
                 .form-control:focus {
                     background-color: #fff;
                     border: 1px solid #6ca824;
                     box-shadow: none;
                     outline: 0 none;
                 }
                 h1 {
                     text-align: center;
                     color: #a6a6a6;
                     text-transform: uppercase;
                     margin: 48px 0;
                 }
                 h3 {
                     font-size: 28px;
                     text-transform: uppercase;
                     color: #a6a6a6;
                     margin: 48px 0;
                 }
                 .hr-line {
                     height: 23px;
                     background: #bfbfbf;
                     margin: auto;
                     margin-top: 18px;
                     max-width: 1920px;
                     width: 100%;
                     float: none;
                 }
                 h4 {
                     font-size: 13px;
                     text-transform: uppercase;
                     color: #bcbcbc;
                 }
                 a {
                     color: #88c240;
                 }
                 .container {
                     max-width: 1400px;
                 }
                 .row {
                     max-width: 1400px;
                     margin-left: 0;
                     margin-right: 0;
                 }
                 .btn,
                 .btn:active,
                 .btn:focus {
                     -webkit-box-shadow: none;
                     box-shadow: none;
                     border: none;
                     padding: 8.5px 12px;
                 }
                 .navbar {
                     padding-top: 6px;
                     padding-bottom: 10px;
                     background: #88c240;
                     color: white;
                     font-family: "Arial";
                     border-radius: 0 0 20px 20px;
                     height: 73px;
                     margin: 0 0 0 0;
                     z-index: 5;
                 }
                 .old-site {
                     background: #fdf7c6;
                 }
                 .old-site div {
                     margin-bottom: 0;
                 }
                 .old-site div>a {
                     padding-top: 3px;
                     text-decoration: underline;
                     font-size: 12px;
                     line-height: 1;
                 }
                 .old-site div>a:last-child {
                     cursor: pointer;
                     padding-left: 50px;
                     text-align: center;
                     text-decoration: underline;
                     text-transform: uppercase;
                     text-align: center;
                     color: #17589d;
                 }
                 .navbar p {
                     font-size: 10px;
                 }
                 .navbar .row {
                     padding: 0;
                     margin: 0;
                 }
                 .navbar .brand a {
                     font-size: 18px;
                     font-family: "Cooper";
                     color: white;
                     padding-left: 10px;
                 }
                 .img>img {
                     height: 56px;
                     display: inline-block;
                 }
                 .brand {
                     padding-top: 5px;
                 }
                 .navbar .img {
                     padding-left: 10px;
                 }
                 /*** Dropdawn ***/
                 .navbar li .dropdown-menu {
                     margin-top: 20px;
                     border-top-left-radius: 4px;
                     border-top-right-radius: 4px;
                 }
                 .navbar li a {
                     width: 100%;
                     font-weight: bold;
                 }
                 .navbar .dropdown {
                     position: static !important;
                     width: 100%;
                 }
                 .navbar .dropdown .btn {
                     background: #88c240;
                     padding-top: 10px;
                 }
                 .navbar .dropdown .btn>i {
                     font-size: 32px;
                 }
                 .navbar .dropdown>.btn:active,
                 .navbar .dropdown>.btn:focus {
                     outline: none;
                     background: #88c240;
                 }
                 /*** Dropdawn menu ***/
                 .navbar .dropdown-menu {
                     box-shadow: none;
                     top: 63px;
                     left: -85px;
                 }
                 .navbar .dropdown-menu a {
                     font-size: 13px;
                     font-family: 'Arial';
                 }
                 .navbar .dropdown-menu:before {
                     content: "";
                     border-bottom: 15px solid white;
                     border-right: 17px solid transparent;
                     border-left: 17px solid transparent;
                     position: absolute;
                     top: -15px;
                     left: 100px;
                     z-index: 10;
                 }
                 .navbar .dropdown-menu>li>a {
                     color: #397900;
                 }
                 .navbar .dropdown-menu>li>a:hover,
                 .navbar .dropdown-menu>li>a:focus {
                     text-decoration: underline;
                     color: red;
                     background: none;
                     background-image: none;
                 }
                 .navbar .dropdown-menu li.dropdown-header {
                     margin: 0 0px;
                     padding-top: 10px;
                     color: #444;
                     font-size: 13px;
                     font-weight: bold;
                     text-transform: uppercase;
                 }
                 /*** Search ***/
                 .search {
                     background: white;
                     height: 100%;
                     margin-top: -6.6px;
                     padding-top: 16px;
                     padding-bottom: 19px;
                     border-bottom: 1px solid #a6a6a6;
                 }
                 .search input {
                     width: 70%;
                     height: 37px;
                     padding-left: 15px;
                     border-radius: 42px;
                     border: 1px solid #a6a6a6;
                     background: #FFFFFF;
                     outline: none;
                     position: relative;
                     transition: .3s linear;
                     padding-top: -3%;
                     color: grey;
                 }
                 .search input::placeholder {
                     text-align: center;
                     color: #c0c0c0;
                 }
                 .search button {
                     width: 36px;
                     height: 36px;
                     background: none;
                     color: grey;
                     border: none;
                     position: absolute;
                     margin-right: 16%;
                     margin-top: 0px;
                     padding-right: 25px;
                     right: 0;
                 }
                 .telephone {
                     padding-top: 2px;
                 }
                 .telephone p {
                     font-size: 14px;
                 }
                 .cart {
                     margin-right: 15px;
                 }
                 #cart button {
                     background-color: #6ca824;
                     border-radius: 35.5px;
                     height: 56px;
                     width: 56px;
                 }
                 #cart button.active {
                     background: yellow;
                 }
                 .enter button {
                     margin-top: -7px;
                     border-radius: 0;
                     font-size: 18px;
                     color: #fff;
                     font-family: "Arial";
                     background-color: #6ca824 !important;
                     height: 73px;
                 }
                 .enter .dropdown-menu:before {
                     left: 92px;
                 }
                 .enter-modal-link {
                     padding: 0 20px;
                     font-size: 13px !important;
                     color: #397900;
                     margin: 5px 0;
                 }
                 .enter-modal-link:hover {
                     text-decoration: underline;
                     color: red;
                     background: none;
                     background-image: none;
                 }
                 #cart.open>.btn {
                     background-color: #ffda00;
                 }
                 #cart ul.dropdown-menu {
                     min-width: 310px !important;
                 }
                 #cart ul {
                     padding: 10px 15px;
                     left: -250px;
                     width: 320px;
                     background: white !important;
                 }
                 #cart p {
                     color: black !important;
                     display: inline-block;
                 }
                 #cart .product {
                     border-bottom: 1px solid #a6a6a6;
                     padding-bottom: 5px;
                     padding-top: 5px;
                     height: auto;
                     display: inline-block;
                     width: 100%;
                 }
                 #cart .product>span {
                     width: 70.5%;
                     display: inline-block;
                 }
                 #cart .product a:first-child {
                     margin-right: 10px;
                 }
                 #cart .product span.name {
                     width: 50%;
                     display: inline-block;
                     vertical-align: middle;
                 }
                 #cart .product span.name a,
                 #cart .product span.name p {
                     margin: 0;
                     padding: 0;
                 }
                 #cart .product span.name p {
                     display: block;
                     font-size: 10px;
                     text-align: left;
                 }
                 #cart .product p {
                     font-size: 12px;
                     text-align: center;
                     padding-left: 5px;
                 }
                 #cart a:last-child {
                     margin-left: 35px;
                 }
                 #cart .product p:first-child {
                     margin-left: 15px !important;
                 }
                 #cart .product button {
                     padding: 0;
                     height: 24px;
                     width: 24px;
                     background: white;
                     color: #a6a6a6;
                     border: 1px solid #a6a6a6;
                     float: none;
                     margin-top: 0;
                     margin-left: 5px;
                 }
                 #cart .product button:hover {
                     color: black;
                     border-color: black;
                 }
                 #cart .total {
                     margin-top: 10px;
                 }
                 #cart .total p {
                     color: orange !important;
                     font-size: 12px !important;
                     float: right;
                 }
                 #cart .total b {
                     float: right;
                 }
                 #cart .dropdown-menu:before {
                     border-bottom-width: 12px;
                     border-right-width: 15px;
                     border-left-width: 15px;
                     top: -12px;
                     left: 262px;
                 }
                 /**/
                 .owl-wrapper-outer {
                     -webkit-box-shadow: none !important;
                     -moz-box-shadow: none !important;
                     -o-box-shadow: none !important;
                     box-shadow: none !important;
                 }
                 /*** Main Slider ***/
                 #three-img-home {
                     margin-top: 49px;
                 }
                 /*** Modal Enter ***/
                 .alert-danger {
                     background-color: #d24a44;
                     color: white;
                     border-color: #d24a44;
                 }
                 .modal-body {
                     padding: 0px 64px;
                 }
                 .modal-body h4 {
                     color: #c1c1c1;
                     font-size: 24px;
                 }
                 .modal-body .line-shadow {
                     height: 621px;
                     margin-top: -70px;
                     box-shadow: 20px 0 20px -20px #000 inset;
                 }
                 .modal-body input {
                     background: #009de0;
                     color: white;
                     margin-bottom: 14px;
                 }
                 .modal-body input:focus {
                     background: white;
                     color: #c1c1c1;
                 }
                 .modal-header {
                     border: none;
                 }
                 .modal-header p {
                     display: inline-block;
                     font-size: 14px;
                     text-decoration: underline;
                     float: none;
                     vertical-align: middle;
                     height: 20px;
                     padding-right: 5px;
                 }
                 .modal-header i {
                     font-size: 32px;
                 }
                 .modal-body .registration {
                     display: inline-block;
                     text-decoration: underline;
                     margin: 25px auto;
                     width: 100%;
                 }
                 .loginaccount {
                     background: #6ca824 !important;
                     width: 100% !important;
                 }
                 .password {
                     margin-left: -60px;
                     margin-bottom: 14px;
                     clear: both;
                     content: '';
                     display: table;
                     width: 100%;
                 }
                 .modal-body .btn {
                     width: 100%;
                 }
                 #modal-quicksignup input::-webkit-input-placeholder {
                     color: white;
                 }
                 #modal-quicksignup input::-moz-placeholder {
                     color: white;
                 }
                 /* Firefox 19+ */
                 #modal-quicksignup input:-ms-input-placeholder {
                     color: white;
                 }
                 #mob-register {
                     background: none;
                     color: #6ca824;
                 }
                 #mob-register:hover,
                 #mob-register:focus {
                     color: #d24a44;
                 }
                 .has-error .form-control:focus {
                     border-color: #d24a44;
                     -webkit-box-shadow: none;
                     box-shadow: none;
                 }
                 /*** Три картинки в координатах ***/
                 img[usemap] {
                     height: auto;
                     max-width: 100%;
                     width: auto;
                 }
                 map area[shape] {
                     outline-color: black;
                 }
                 /*** Footer ***/
                 footer a {
                     color: #6ca824;
                     display: block;
                     margin: 0 auto
                 }
                 footer .colums {
                     margin-top: 18px;
                     border: 1px solid #c1c1c1;
                 }
                 footer .label-brand {
                     margin-top: 18px;
                 }
                 footer .brand>.img {
                     margin-top: 5px;
                 }
                 footer .brand a {
                     margin-left: 10px;
                 }
                 .brand-header1 {
                     font-size: 15px;
                     font-family: "Cooper";
                     margin-top: 15px;
                 }
                 .brand-header2 {
                     margin-top: -10px;
                     font-size: 10px;
                 }
                 footer .brand .social img {
                     margin-bottom: 5px;
                     width: 21px;
                 }
                 footer .cards img {
                     margin-bottom: 15px;
                     margin-top: 5px;
                     height: 42px;
                 }
                 footer .enter {
                     margin-left: 12px;
                     margin-right: -38px;
                 }
                 footer input {
                     margin: 0 0 10px 0;
                 }
                 footer .button-padding {
                     margin-top: 37px;
                     padding-top: 0px;
                 }
                 footer .btn {
                     color: white;
                     background: #6ca824;
                     width: 84px;
                     height: 84px;
                 }
                 footer .btn:hover,
                 footer .btn:active {
                     text-decoration: none;
                     color: white;
                 }
                 footer .enter p {
                     font-size: 13px !important;
                 }
                 footer .enter button {
                     font-size: 18px;
                 }
                 footer .footer-logout {
                     font-size: 14px;
                     text-align: right;
                     margin-top: 32px;
                 }
                 footer .footer-logout a+a {
                     margin-top: 7px;
                 }
                 /* Плавная смена картинки*/
                 .image-up,
                 .image-down {
                     border: 0;
                     margin: 0;
                     padding: 0;
                 }
                 .image-up {
                     opacity: 1.0;
                     filter: alpha(opacity=99);
                     /* IE */
                     display: block;
                     position: absolute;
                     z-index: 100;
                     transition-duration: 0.96s;
                     -webkit-transition-duration: 0.96s;
                     -moz-transition-duration: 0.96s;
                     -o-transition-duration: 0.96s;
                     -ms-transition-duration: 0.96s;
                     /* IE9+ */
                 }
                 .image-up:hover {
                     opacity: 0.00;
                     filter: alpha(opacity=00);
                     /* IE */
                 }
                 /***Filter***/
                 .filter .nav-list {
                     font-size: 13px;
                 }
                 .nav-list li>img {
                     display: inline;
                 }
                 .nav-list li>a {
                     display: inline;
                     padding: 5px 0px;
                 }
                 .menu-type {
                     margin: 0 72px;
                 }
                 .menu-type a {
                     color: #6ca824;
                 }
                 .menu-type .nav-header {
                     margin-bottom: 9px;
                 }
                 .menu-type li {
                     height: 20px;
                 }
                 .menu-type li>div {
                     display: inline-block;
                     width: 40px;
                     vertical-align: center;
                 }
                 .menu-type li>a {
                     position: absolute;
                     margin-top: -6px;
                 }
                 /* center ing*/
                 .center-img {
                     height: 18px;
                     position: relative;
                 }
                 .center-img>img {
                     position: absolute;
                     margin: auto;
                     left: 0;
                     top: 0;
                     bottom: 0;
                     right: 0;
                     height: 12px;
                 }
                 .center-img>a {
                     vertical-align: middle;
                 }
                 .select-kitchen {
                     margin-top: 48px;
                 }
                 .select-kitchen ul {
                     margin-top: 5px;
                     list-style-position: inside;
                     -moz-column-count: 2;
                     -webkit-column-count: 2;
                     column-count: 2;
                     list-style-type: decimal;
                     height: 550px;
                 }
                 .filter .nav-pills {
                     text-align: center;
                     float: none;
                 }
                 .filter .nav-mob {
                     width: 100%;
                     margin-top: 0 !important;
                     margin: 0;
                     margin-bottom: 48px;
                     padding: 0;
                     text-align: center;
                     float: none;
                 }
                 .filter .nav-mob>li {
                     float: none;
                     padding: 10px 26px;
                     text-transform: uppercase;
                     background: #f4f4f4;
                 }
                 .filter .nav-mob>li>a {
                     color: black;
                     word-wrap: break-word;
                     font-size: 12px !important;
                 }
                 .filter .nav-mob .dropdown-menu {
                     width: 100%;
                 }
                 .filter .nav-category {
                     margin-bottom: 48px;
                 }
                 .filter .nav-category li {
                     display: inline-block;
                     float: none;
                     margin-bottom: 14px;
                 }
                 .filter .nav-category li>a {
                     padding: 13px 26px;
                     text-transform: uppercase;
                     background: #f4f4f4;
                     color: black;
                     margin-left: 7px;
                 }
                 .filter li>a:focus,
                 .filter li>a:hover {
                     color: red;
                     text-decoration: underline;
                     background: white;
                 }
                 .filter .nav-header {
                     text-transform: uppercase;
                 }
                 .filter .nav-pills li.active>a,
                 .filter .nav-pills li.active>a:focus,
                 .filter .nav-pills li.active>a:hover {
                     background: #6ca824;
                     color: white;
                 }
                 .filter .nav-pills>li>a:focus,
                 .filter .nav-pills>li>a:hover {
                     background: #f4f4f4;
                 }
                 .filter .nav-pills>li>a:focus,
                 .filter .nav-pills>li>a:hover {
                     background: #f4f4f4;
                 }
                 #mark {
                     position: absolute;
                     z-index: 10;
                     background-color: rgba(255, 255, 255, 0);
                 }
                 .catalog-map {
                     margin-top: 32px;
                     position: relative;
                     margin-right: 36px;
                     margin-left: 36px;
                     height: 425px;
                 }
                 .display-none {
                     display: none;
                 }
                 .map-global {
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     z-index: 1;
                 }
                 .kitchen1 {
                     top: 64%;
                     left: 81%;
                 }
                 .kitchen2 {
                     top: 26%;
                     left: 57.5%;
                 }
                 .kitchen29 {
                     top: 25%;
                     left: 16%;
                 }
                 .kitchen27 {
                     top: 17%;
                     left: 44%;
                 }
                 .kitchen28 {
                     top: 26%;
                     left: 55.5%;
                 }
                 .kitchen30 {
                     top: 25%;
                     left: 50.5%;
                 }
                 .kitchen31 {
                     top: 21%;
                     left: 49.5%;
                 }
                 .kitchen32 {
                     top: 26.5%;
                     left: 50.2%;
                 }
                 .kitchen33 {
                     top: 25%;
                     left: 56%;
                 }
                 .kitchen34 {
                     top: 15%;
                     left: 65%;
                 }
                 .kitchen35 {
                     top: 29%;
                     left: 54%;
                 }
                 .kitchen36 {
                     top: 41.8%;
                     left: 65.7%;
                 }
                 .kitchen37 {
                     top: 26%;
                     left: 43%;
                 }
                 .kitchen38 {
                     top: 25.5%;
                     left: 48.5%;
                 }
                 .kitchen39 {
                     top: 16%;
                     left: 16%;
                 }
                 .kitchen40 {
                     top: 31%;
                     left: 75%;
                 }
                 .kitchen41 {
                     top: 29%;
                     left: 79.5%;
                 }
                 .kitchen42 {
                     top: 21.5%;
                     left: 53.5%;
                 }
                 .kitchen43 {
                     top: 36%;
                     left: 16%
                 }
                 .kitchen44 {
                     top: 18%;
                     left: 47%;
                 }
                 .kitchen45 {
                     top: 23%;
                     left: 56%;
                 }
                 .kitchen46 {
                     top: 18%;
                     left: 49%;
                 }
                 .kitchen47 {
                     top: 15%;
                     left: 65%;
                 }
                 .kitchen48 {
                     top: 40%;
                     left: 72%;
                 }
                 .kitchen49 {
                     top: 26%;
                     left: 53.5%;
                 }
                 .kitchen50 {
                     top: 25%;
                     left: 62%;
                 }
                 .kitchen51 {
                     top: 21.5%;
                     left: 53%;
                 }
                 .kitchen52 {
                     top: 20%;
                     left: 45%;
                 }
                 .kitchen53 {
                     top: 29%;
                     left: 82.5%;
                 }
                 /***Category***/
                 .left-category a {
                     background: #e6e6e6;
                     text-transform: uppercase;
                     color: #777;
                     ;
                 }
                 .left-category .active,
                 .left-category .active:hover {
                     background: #6ca824 !important;
                     color: white;
                 }
                 .left-category a:hover {
                     background: #6ca824;
                     color: white;
                 }
                 .left-category {
                     background: #f8f8f8;
                     padding: 10px 0;
                 }
                 .left-category .panel-default {
                     border: none;
                 }
                 .left-category .panel {
                     border: none;
                     border-radius: 0;
                     -webkit-box-shadow: none;
                     box-shadow: none;
                     margin: 0;
                 }
                 .left-category .list-group-item {
                     background: #f8f8f8;
                     border: none;
                 }
                 .left-category a.parent {
                     font-size: 12px;
                     background: #e6e6e6;
                     text-align: center;
                 }
                 .left-category a.parent:hover {
                     background: #6ca824;
                     border: none;
                 }
                 .left-category .list-group>div {
                     padding-top: 0;
                     padding-bottom: 0;
                 }
                 .left-category a.child {
                     font-size: 12px;
                     text-transform: none;
                     color: #6ca824;
                 }
                 .left-category a.child:hover {
                     background: none;
                     color: red;
                     text-decoration: underline;
                     border: none;
                 }
                 .left-category p.parent {
                     background: #e6e6e6;
                     text-transform: uppercase;
                     color: #777;
                 }
                 .pizza-select {
                     padding: 0 10%;
                 }
                 .pizza-select h2 {
                     color: #6ca824;
                     text-align: center;
                     border: 1px solid #6ca824;
                     border-radius: 40px;
                     display: inline-block;
                     width: 100%;
                     height: 72px;
                     line-height: 65px;
                 }
                 .pizza-select img {
                     text-align: center;
                     width: 100%;
                 }
                 /*.pizza-select .col-sm-6{
        padding-left:10% !important;
    }
    .pizza-select .col-sm-6:first-child{
        padding-right: 10% !important;
        padding-left: 0 !important;
        }*/
                 .product-layout {
                     min-width: 275px !important;
                     padding: 0 10px;
                 }
                 .product-layout:nth-child(6n+1),
                 .product-layout:nth-child(6n+1),
                 .product-layout:nth-child(4n+1),
                 .product-layout:nth-child(3n+1),
                 .product-layout:nth-child(2n+1) {
                     clear: none !important;
                 }
                 .list-group a {
                     text-transform: uppercase;
                     font-size: 14px;
                 }
                 .list-group a span {
                     margin-left: 8px !important;
                 }
                 .product-thumb {
                     padding: 0 20px;
                 }
                 .product-thumb .order-group {
                     background-color: #e6e6e6;
                     margin-top: 10px;
                     margin-bottom: 20px;
                     max-height: 41px;
                     border-radius: 5px;
                 }
                 .order-group button {
                     height: 40px !important;
                 }
                 .product-thumb .button-group {
                     display: inline-block;
                     width: 64%;
                     background-color: #6ca824;
                     border-radius: 5px;
                 }
                 .product-thumb .button-group button {
                     width: 29%;
                     background-color: #558d12;
                     color: white;
                     border-radius: 5px;
                 }
                 .category-sort a {
                     color: #d24a44;
                 }
                 .product-thumb .button-group button:hover {
                     background: #d24a44;
                     color: white;
                 }
                 .product-thumb .button-group button+button {
                     width: 71%;
                     border-left: none;
                     border-radius: 0 5px 5px 0;
                     background-color: #6ca824;
                 }
                 .product-thumb .order-group p {
                     display: block;
                     width: 36%;
                     padding: 0px 12px;
                     padding-top: 8px;
                     text-align: center;
                     font-size: 14px;
                     float: right;
                 }
                 .product-thumb h4 a,
                 #modalProduct .modal-title {
                     color: #d24a44;
                     font-size: 16px;
                 }
                 .product-thumb .caption {
                     padding: 0;
                 }
                 .product-thumb .form-inline {
                     margin-bottom: 15px;
                 }
                 .product-thumb .form-inline input {
                     width: 20%;
                     text-align: center;
                 }
                 .product-thumb .form-group select {
                     display: inline-block;
                     color: #d24a44;
                     font-weight: bold;
                     border: 1px solid #cecece;
                     width: 45%;
                     text-align: center;
                     font-size: 12px;
                     padding: 0;
                     height: 20px;
                     padding-left: 5px;
                     text-transform: uppercase;
                     height: 22px;
                     border-radius: 0;
                 }
                 .product-thumb .form-group option {
                     color: black;
                 }
                 .product-thumb .form-group option[default] {
                     display: none;
                 }
                 /* .product-thumb .caption {
            height: 235px;
        } */
                 .product-thumb .form-group p,
                 #modalProduct .form-group p {
                     padding: 0;
                     display: inline-block;
                     width: 45%;
                     border: 1px solid #cecece;
                     padding: 0px 12px;
                     text-align: center;
                     font-size: 12px;
                     font-weight: bold;
                 }
                 .product-thumb .form-group+.form-group select {
                     margin-top: -10px;
                     margin-left: 25%;
                     color: #55a6d5;
                     border: none;
                     width: 47.5%;
                     font-size: 12px;
                     padding: 0;
                     height: 20px;
                     padding: auto;
                     text-decoration: underline;
                     text-transform: none;
                     height: 22px;
                     border-radius: 0;
                     -webkit-box-shadow: none;
                     box-shadow: none;
                     -o-transition: none;
                     transition: none;
                 }
                 .product-thumb .form-inline input {
                     width: 15%;
                     font-size: 16px;
                     height: 30px;
                     padding-top: 0;
                     padding-left: 0;
                     margin-top: 1px;
                     outline-color: #6ca824;
                 }
                 .product-thumb .form-inline button {
                     width: 15%;
                     border: none;
                     background: none;
                     color: #6ca824;
                     padding: 0;
                     margin-top: -3px;
                     border-radius: 0;
                 }
                 .product-thumb .form-inline .btn:hover,
                 .product-thumb .form-inline .btn:focus,
                 .product-thumb .form-inline .btn {
                     outline: none;
                 }
                 .product-thumb .form-inline button>span {
                     font-size: 18px;
                     padding: 0;
                 }
                 .product-thumb .form-inline .dropup {
                     width: 45%;
                     float: right;
                 }
                 .product-thumb .form-inline .dropup a {
                     margin-left: 5%;
                     margin-right: 3%;
                     width: 40%;
                     color: black;
                     text-decoration: underline;
                     float: left;
                 }
                 .product-thumb .form-inline .dropup a:hover,
                 .product-thumb .form-inline .dropup a:focus {
                     color: #6ca824;
                 }
                 .product-thumb .form-inline .dropup button {
                     border: 1px solid #6ca824;
                     width: 27px;
                     height: 27px;
                     font-size: 18px;
                     border-radius: 0;
                     display: inline-block;
                 }
                 .product-thumb .form-inline .dropup {
                     display: inline-block;
                     padding-top: 7px;
                 }
                 .product-thumb .form-inline .dropup p.weight {
                     border: 1px solid #6c6c6c;
                     text-align: center;
                     font-weight: bold;
                     font-size: 12px;
                     text-align: center;
                 }
                 #modalProduct p.weight {
                     text-align: center !important;
                 }
                 .product-thumb .form-inline .dropup ul {
                     margin-left: -120px;
                     margin-bottom: 0px;
                     scrollbar-face-color: red;
                     scrollbar-track-color: #6c6c6c;
                     height: 321px;
                     width: 220px;
                     overflow: auto;
                 }
                 #modalProduct .form-inline .dropup ul {
                     height: 210px;
                     width: 210px;
                     margin-left: -115px;
                 }
                 #modalProduct .modal-img {
                     margin-left: -20px;
                 }
                  ::-webkit-scrollbar {
                     width: 0.5em;
                     height: 0.5em;
                 }
                  ::-webkit-scrollbar-thumb {
                     background: red;
                     border-radius: 20px;
                 }
                  ::-webkit-scrollbar-track {
                     background: #6c6c6c;
                     width: 0.25em;
                 }
                 #modalProduct .col-xs-7>img {
                     margin-top: 10%;
                     margin-left: -7%;
                 }
                 #modalProduct .modal-title {
                     margin-bottom: 12px;
                     text-align: center;
                 }
                 #modalProduct p {
                     text-align: left;
                     font-size: 12px;
                 }
                 #modalProduct p.price {
                     text-align: center;
                 }
                 #modalProduct .modal-body input,
                 #modalProduct .modal-body input:focus {
                     outline-color: #6ca824;
                     background: none;
                 }
                 #modalProduct .modal-input-fix {
                     color: #6c6c6c;
                     border: 1px solid #6c6c6c;
                 }
                 #modalProduct .share-friends p {
                     text-align: center;
                     margin-top: 48px;
                     font-weight: bold;
                     font-size: 14px;
                     text-transform: uppercase;
                     color: black;
                 }
                 #modalProduct .share-friends img {
                     width: 11%;
                     padding-left: 5px;
                 }
                 #modalProduct .share-friends img:first-child {
                     padding-left: 0;
                     width: 8.5%;
                 }
                 .price-special {
                     padding-top: 0 !important;
                 }
                 .price-special span:last-child {
                     display: block;
                 }
                 #modalProduct .price-special {
                     text-align: center;
                 }
                 .price-new {
                     display: inline-block;
                     color: #d24a44;
                     font-size: 16px;
                 }
                 .price-old {
                     display: inline-block;
                     font-size: 12px;
                 }
                 ul>p {
                     margin: 10px 10px;
                     padding: 0 10px;
                     border-bottom: 1px solid #6c6c6c;
                 }
                 .ingredients-menu,
                 .ingredients-menu-modal {
                     padding: 0 20px;
                     display: inline-block !important;
                     width: 100%;
                 }
                 .ingredients-menu p {
                     display: inline-block !important;
                 }
                 .ingredients-menu input,
                 .ingredients-menu-modal input {
                     height: 19px !important;
                     font-size: 12px !important;
                     border: 1px solid;
                     margin-right: 5px;
                     border-radius: 10px;
                     color: white;
                     width: auto;
                     font-weight: bold;
                 }
                 .ingredients-menu input:last-child,
                 .ingredients-menu-modal input:last-child {
                     min-width: 40px;
                 }
                 .ingredients-menu button,
                 .ingredients-menu-modal button {
                     display: none;
                     width: 10% !important;
                     border: none !important;
                 }
                 .modal-thumb {
                     border: none;
                     padding: 0;
                 }
                 .modal-thumb .ingredients-menu-modal>input {
                     color: white !important;
                     border: 1px solid !important;
                     outline-color: #6ca824;
                 }
                 /* FAQ */
                 .send-question button,
                 .send-question textarea {
                     height: 100px;
                 }
                 .send-question button {
                     background: #6ca824;
                     text-decoration: underline;
                 }
                 .send-question textarea {
                     resize: none;
                 }
                 .send-question textarea:focus,
                 .send-question textarea:active,
                 .send-question textarea:hover {
                     border-color: #6ca824;
                     -webkit-box-shadow: none;
                     box-shadow: none;
                 }
                 .admin-answer {
                     border: 1px solid #6ca824;
                     border-top: none;
                     margin-top: 20px;
                 }
                 .admin-answer p:first-child {
                     color: #6ca824;
                     text-transform: uppercase;
                 }
                 /* Paginator */
                 .pagination a,
                 .pagination span {
                     border: none !important;
                     font-size: 14px;
                     background: none !important;
                     color: #6c6c6c !important;
                 }
                 .pagination a:focus,
                 .pagination a:hover,
                 .pagination span:focus,
                 .pagination span:hover {
                     text-decoration: underline;
                     color: #6ca824 !important;
                 }
                 .pagination>.active>a,
                 .pagination>.active>a:focus,
                 .pagination>.active>a:hover,
                 .pagination>.active>span,
                 .pagination>.active>span:focus,
                 .pagination>.active>span:hover {
                     background: none;
                     text-decoration: underline;
                     border-radius: 16px !important;
                     border: 1px solid #6ca824 !important;
                     color: #6ca824 !important;
                 }
                 /* Cart page*/
                 .lateral-padding-0 {
                     padding-left: 0;
                     padding-right: 0;
                 }
                 .client-score {
                     background: #fdf7c6;
                     font-size: 14px;
                     text-transform: uppercase;
                     font-weight: bold;
                     color: black;
                     padding: 10px 0;
                     border-top: 1px solid #c2ae0e;
                     border-bottom: 1px solid #c2ae0e;
                     margin-bottom: 20px;
                 }
                 .client-score p {
                     display: inline;
                 }
                 .client-score-info {
                     padding: 20px 0;
                 }
                 .client-score-info div>span {
                     border: 1px solid #8d8d8d;
                     display: block;
                     padding: 10px 0;
                 }
                 .client-score-info p {
                     display: inline;
                     text-transform: uppercase;
                 }
                 .client-score-info div:nth-child(2)>span {
                     margin: 0 10px;
                 }
                 .client-score-info div p:last-child {
                     color: black;
                     font-weight: bold;
                 }
                 .slh-border {
                     border-style: solid;
                     -moz-border-image: url('http://s28.postimg.org/wuv4rq6y1/ramka.png') 25 round;
                     -webkit-border-image: url('http://s28.postimg.org/wuv4rq6y1/ramka.png') 25 round;
                     -o-border-image: url('http://s28.postimg.org/wuv4rq6y1/ramka.png') 25 round;
                     border-image: url('http://s28.postimg.org/wuv4rq6y1/ramka.png') 25 round;
                     border-width: 4px;
                 }
                 .cart-table {
                     overflow: hidden;
                     border-collapse: separate;
                     border-spacing: 10px 10px;
                 }
                 .cart-table-head {
                     background-color: #f3f3f3;
                     text-align: center;
                 }
                 .cart-table-head td {
                     text-transform: uppercase;
                     color: black;
                     font-weight: bold;
                 }
                 .no-bordered {
                     border: none !important;
                     border: 0;
                 }
                 .cart-table .product-name {
                     border: 1px solid #e3e3e3;
                 }
                 .cart-table .product-name small {
                     display: block;
                 }
                 .cart-table .product-name>a {
                     display: inline-block;
                     width: 20%;
                 }
                 .cart-table .product-name>a>img {
                     border: none;
                 }
                 .cart-table .product-name>div {
                     display: inline-block;
                     width: 75%;
                 }
                 .cart-table .product-name>div>a {
                     font-size: 14px;
                     color: #ff0000;
                     text-transform: uppercase;
                 }
                 .cart-table .product-number {
                     border: 1px solid #e3e3e3;
                     text-align: center;
                     vertical-align: middle;
                     margin: auto;
                     padding: auto;
                     width: 100px;
                 }
                 .cart-table .product-number input {
                     width: 32px;
                     text-align: center;
                     height: 32px;
                 }
                 .cart-table .product-number span {
                     text-align: center;
                     left: -5px;
                 }
                 .cart-table .product-number button,
                 .cart-mob-product .other button {
                     background: none;
                     border-radius: 5px !important;
                     margin-left: -10px;
                 }
                 .cart-table .product-number button:hover,
                 .cart-table .product-number button:active,
                 .cart-mob-product .other button:hover,
                 .cart-mob-product .other button:active {
                     background: #6ca824;
                     color: white;
                 }
                 .cart-table .product-number button+button {
                     margin-left: 5px !important;
                 }
                 .cart-table .product-total,
                 .cart-mob-product .other p {
                     border: 1px solid #e3e3e3;
                     text-align: center;
                     vertical-align: middle;
                     margin: auto;
                     padding: auto;
                     font-size: 18px;
                     color: orange;
                     width: 150px;
                 }
                 .cart-table .product-remove {
                     border: 1px solid #e3e3e3;
                     text-align: center;
                     vertical-align: middle;
                     margin: auto;
                     padding: auto;
                     width: 75px;
                 }
                 .cart-table .product-remove button {
                     background: none !important;
                 }
                 .cart-table .product-remove button>i {
                     font-size: 24px;
                 }
                 .cart-table .cart-total {
                     border: 1px solid #e3e3e3;
                     font-size: 14px;
                     color: #ff0000;
                 }
                 .cart-table td.cart-order a {
                     font-size: 16px;
                     text-transform: uppercase;
                     color: #17589d;
                     padding-top: 3px;
                     background: none;
                 }
                 .cart-table td.cart-order a:hover,
                 .cart-table td.cart-order a:active {
                     text-decoration: underline;
                 }
                 .cart-table td.cart-order i {
                     border: 1px solid;
                     border-radius: 15px;
                     padding: 5px;
                     margin-right: 5px;
                 }
                 .cart-table td.cart-continue a {
                     text-transform: uppercase;
                     font-size: 14px;
                 }
                 .cart-pif-about {
                     line-height: 27px;
                     font-weight: bold;
                     font-size: 14px;
                     text-transform: uppercase;
                 }
                 /* Alert */
                 .alert-success {
                     opacity: 1;
                     color: white;
                     border: none;
                     background: #6ca824;
                 }
                 .alert-success a {
                     color: white;
                     text-decoration: underline;
                 }
                 .alert button.close {
                     color: white;
                     opacity: 1;
                 }
                 /* Живой поиск */
                 .live-search {
                     margin-top: 59px !important;
                     padding-bottom: 0 !important;
                 }
                 .live-search .result-text {
                     background-color: #6ca824 !important;
                     position: relative !important;
                     height: 20px;
                 }
                 .live-search .view-all-results {
                     color: white !important;
                 }
                 .live-search ul {
                     margin: 0 !important;
                     padding: 0px !important;
                 }
                 .live-search ul li {
                     margin-left: 0 !important;
                     margin-right: 0 !important;
                     padding-left: 10px !important;
                     padding-right: 10px !important;
                 }
                 .live-search ul li:hover {
                     background-color: white !important;
                 }
                 .live-search ul li:hover .product-name {
                     text-decoration: underline;
                 }
                 .live-search ul li:hover .product-name>p {
                     text-decoration: none;
                 }
                 .live-search ul li .product-name {
                     color: #d24a44 !important;
                 }
                 /* Лияный кабинет */
                 .user-account a {
                     color: #0572ce;
                 }
                 .user-account a:hover {
                     color: #d24a44;
                     text-decoration: underline;
                 }
                 #column-right {
                     background: #f3f3f3;
                 }
                 .list-group-account .list-group-item {
                     border: none;
                     background: none;
                 }
                 .list-group-account h4 {
                     padding-top: 25px;
                     font-size: 21px;
                     color: black;
                     padding-left: 10px;
                 }
                 .list-group-account a:hover {
                     text-decoration: underline;
                     color: #0572ce;
                 }
                 .btn-blue {
                     text-decoration: underline;
                     color: #0572ce;
                 }
                 .btn-blue:hover {
                     color: #ff0000;
                     text-decoration: underline;
                 }
                 .btn-newadress {
                     margin-top: 24px;
                     line-height: 1;
                 }
                 .btn-newadress a:hover,
                 .btn-newadress a:focus {
                     color: #ff0000;
                     text-decoration: underline;
                 }
                 .btn-newadress span {
                     line-height: 1;
                     font-weight: 100;
                     width: 42px;
                     display: inline-block;
                     vertical-align: middle;
                     font-size: 42px;
                     border: 1px solid #88c240;
                     -moz-border-radius: 22px;
                     -webkit-border-radius: 22px;
                     border-radius: 22px;
                     margin-right: 10px;
                 }
                 .in-green {
                     background-color: green;
                 }
             }

             @media (max-width: 1200px) {
                 .navbar .brand a {
                     font-size: 15px;
                 }
                 .navbar p {
                     font-size: 10px;
                 }
                 .navbar a {
                     font-size: 14px;
                 }
                 .enter button {
                     width: 44px;
                 }
                 .cart {
                     margin-right: 25px;
                 }
                 .telephone p {
                     font-size: 12px;
                 }
                 footer .enter p {
                     font-size: 10px !important;
                 }
                 .product-layout {
                     min-width: 303px !important;
                 }
                 .product-layout:nth-child(6n+1),
                 .product-layout:nth-child(6n+1),
                 .product-layout:nth-child(4n+1),
                 .product-layout:nth-child(3n+1),
                 .product-layout:nth-child(2n+1) {
                     clear: none !important;
                 }
                 .pizza-select {
                     padding: 0 5%;
                 }
             }

             @media (max-width: 992px) {
                 .telephone p {
                     font-size: 12px;
                 }
                 .brand a {
                     font-size: 18px;
                 }
                 .brand p {
                     font-size: 12px;
                 }
                 .brand-header2 {
                     font-size: 8px !important;
                 }
                 .cart {
                     margin-right: 15px;
                 }
                 .search button {
                     display: none;
                 }
                 .live-search {
                     width: 425px !important;
                     left: -150px !important;
                 }
                 footer {
                     padding-top: 18px;
                 }
                 footer .label-brand {
                     top: 36px;
                 }
                 .brand-header1 {
                     font-size: 13px;
                     margin-top: 10px;
                 }
                 .brand-header2 {
                     font-size: 9px;
                     padding-left: 5px;
                 }
                 footer .cards {
                     margin-left: -18px;
                 }
                 footer .brand .social {
                     margin-top: -5px;
                 }
                 footer .enter {
                     padding-left: 0;
                     left: -36px;
                 }
                 footer .enter .col-md-8 {
                     top: 16px;
                 }
                 footer .button-padding {
                     padding-left: 0px;
                     padding-top: 15px;
                 }
                 footer .btn {
                     color: white;
                     background: #6ca824;
                     width: 84px;
                     height: 84px;
                 }
                 .menu-type {
                     margin: 0;
                 }
                 .select-kitchen ul {
                     -moz-column-count: 4;
                     -webkit-column-count: 4;
                     column-count: 4;
                     height: 250px;
                 }
                 .modal-body {
                     padding: 0 25px;
                 }
                 .modal-dialog {
                     width: 90%;
                 }
                 .client-score-info div:nth-child(2)>span {
                     margin: 20px 0;
                 }
                 .pizza-select {
                     padding: 0 15px;
                 }
                 .filter .nav-list {
                     font-size: 12px;
                 }
             }

             @media (max-width: 767px) {
                 .hr-line {
                     height: 10px;
                     width: 100%;
                     min-width: 100%
                 }
                 .play-icon {
                     position: fixed;
                     right: -15%;
          
                      bottom: 20%;
                     z-index: 999999!important;
                     transform: rotate(-90deg);
                 }
                 .play-icon img {
                     width: auto;
                     height: 48px;
                     margin-right: 7.5px;
                 }
                 .play-icon a {
                     background: #88c240;
                     color: white;
                     padding: 15px;
                     font-size: 21px;
                     border-radius: 10px;
                 }
                 footer .cards {
                     margin: 0;
                 }
                 div.header {
                     padding: 0;
                 }
                 .old-site a:last-child {
                     text-align: left !important;
                     padding: 0 !important;
                 }
                 .navbar {
                     margin: 0;
                     border-radius: 0 0 10px 10px;
                 }
                 .navbar p {
                     font-size: 12px;
                 }
                 .img>.img>img {
                     margin-left: -40%;
                 }
                 .enter i {
                     color: white;
                     font-size: 16px;
                 }
                 .telephone {
                     float: left;
                 }
                 .telephone p {
                     font-size: 12px;
                 }
                 .navbar .dropdown-menu {
                     box-shadow: none;
                     top: 63px;
                     left: -65px;
                 }
                 .navbar .dropdown-menu::before {
                     left: 73px;
                 }
                 .cart {
                     margin-right: 0px;
                     width: 18%;
                 }
                 #cart button {
                     border: 1px solid white;
                     margin: auto;
                 }
                 .enter div>a {
                     margin-left: 25%;
                 }
                 .enter button {
                     margin-top: 6px;
                     font-size: 12px;
                     height: auto;
                     width: 36px;
                 }
                 .createaccount {
                     margin-bottom: 48px;
                 }
                 #cart {
                     float: right;
                 }
                 #cart .product button {
                     margin-left: 0;
                 }
                 #cart .product>span {
                     width: 71%;
                 }
                 .modal-dialog {
                     width: 98.25%;
                     margin: 0px;
                     margin-top: 10px;
                 }
                 .modal-img {
                     margin: 0;
                 }
                 #carouselBonus {
                     margin-top: 42px;
                 }
                 #carouselBonus h4 {
                     color: black;
                     margin-bottom: 20px;
                     text-align: center;
                 }
                 #carouselBonus img {
                     text-align: center;
                     margin: auto;
                     padding: auto;
                 }
                 #carouselBonus p {
                     color: #888888;
                     margin-top: 20px;
                     text-align: center;
                 }
                 .filter .menu-type ul {
                     margin-bottom: 10px;
                 }
                 .filter .nav-header {
                     text-align: center;
                 }
                 .select-kitchen {
                     margin-left: 5px;
                     margin-top: 5px;
                 }
                 .pizza-select h2 {
                     height: 50px;
                     line-height: 44px;
                 }
                 .pizza-select {
                     padding: 0;
                 }
                 .select-kitchen ul {
                     -moz-column-count: 2;
                     -webkit-column-count: 2;
                     column-count: 2;
                     height: 350px;
                 }
                 .pizza-select .col-sm-6 {
                     padding-right: 15px !important;
                     padding-left: 15px !important;
                     right: 15px;
                 }
                 .pizza-select .col-sm-6:first-child {
                     margin-bottom: 15px;
                     padding-right: 15px !important;
                     padding-left: 15px !important;
                 }
                 .category-sort>div:nth-child(2) {
                     padding-right: 0;
                 }
                 .category-sort>div:nth-child(3) {
                     padding: 0;
                 }
                 #modalProduct .modal-img {
                     margin: 0;
                 }
                 .cart-mob-product {
                     margin-top: 24px;
                     border-bottom: 1px solid #a6a6a6;
                     padding-bottom: 18px;
                 }
                 .cart-mob-product:first-child {
                     margin-top: 0;
                 }
                 .cart-mob-product a {
                     font-size: 18px;
                     margin-top: 5px;
                 }
                 .cart-mob-product .img {
                     display: inline-block;
                     width: 25%;
                     margin: 0 auto;
                 }
                 .cart-mob-product .description {
                     vertical-align: top;
                     display: inline-block;
                     width: 72%;
                     padding-left: 15px;
                 }
                 .cart-mob-product small {
                     display: block;
                 }
                 .cart-mob-product .other {
                     margin-top: 12px;
                 }
                 .cart-mob-product .other p {
                     border: none;
                     line-height: 30px;
                     width: auto;
                 }
                 .cart-mob-product .input-group input {
                     text-align: center;
                     border: none;
                     font-size: 18px;
                     -webkit-box-shadow: none;
                     box-shadow: none;
                     -webkit-transition: none;
                     -o-transition: none;
                     transition: none;
                 }
                 .table-mob {
                     margin-top: 24px;
                 }
                 .table-mob .cart-total {
                     font-size: 18px;
                     color: #ff0000;
                     padding-bottom: 24px
                 }
                 .table-mob td.cart-order a {
                     font-size: 14px;
                     text-transform: uppercase;
                     color: #17589d;
                     padding-top: 3px;
                     background: none;
                 }
                 .table-mob td.cart-order a:hover,
                 .table-mobtd.cart-order a:active {
                     text-decoration: underline;
                 }
                 .table-mob td.cart-order i {
                     border: 1px solid;
                     border-radius: 15px;
                     padding: 5px;
                     margin-right: 5px;
                 }
                 .table-mob td.cart-continue a {
                     text-transform: uppercase;
                     font-size: 15px;
                 }
                 h2 {
                     font-size: 22px;
                 }
                 #address .col-sm-6 {
                     padding: 0 !important;
                 }
             }
             /* Five Geid*/

             .col-xs-five,
             .col-sm-five,
             .col-md-five,
             .col-lg-five {
                 position: relative;
                 min-height: 1px;
                 padding-right: 10px;
                 padding-left: 10px;
             }

             .col-xs-five {
                 width: 20%;
                 float: left;
             }

             @media (min-width: 768px) {
                 .col-sm-five {
                     width: 20%;
                     float: left;
                 }
             }

             @media (min-width: 992px) {
                 .col-md-five {
                     width: 20%;
                     float: left;
                 }
             }

             @media (min-width: 1200px) {
                 .col-lg-five {
                     width: 20%;
                     float: left;
                 }
             }

             .vcenter {
                 display: inline-block;
                 float: none;
                 vertical-align: middle;
             }

             .border * {
                 border: 1px solid red;
             }

             @media (max-width: 767px) and (orientation: portrait) {
                 .cart {
                     margin-right: 25px;
                 }
             }

             @media (max-width: 767px) and (orientation: landscape) {
                 .enter div:first-child {
                     margin-left: -7px;
                 }
             }